.container {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
}

.button {
  width: 48px;
  height: 48px;
  cursor: pointer;
  margin: 0.25rem -1rem;
}

.ring {
  fill: none;
  stroke: #663300;
  stroke-width: 4;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  stroke-dasharray: 250;
}

.icon {
  fill: #663300;
}

.label {
  font-size: 0.875rem;
  color: #333;
  white-space: nowrap;
  user-select: none;
}
