.container {
  max-width: 36rem;
  padding: 0 1rem;
  margin-top: 3rem;
  margin-bottom: 6rem;
  margin-left: 1rem;
  margin-right: auto;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.socialLinks {
  display: flex;
  gap: 1.75rem;
  margin: 0.5rem 0; /* 0.5 vert and 0 top/bot */
}

.socialLinks a {
  display: inline-block;
  border-bottom: 2px solid transparent;
  transition: border-color 0.2s;
}

.socialLinks a:hover {
  border-bottom-color: currentColor;
}

.socialLinks a:hover {
  text-decoration: underline;
}

.backToHome {
  margin: 3rem 0 0;
}

.desktopBreak {
  display: none;
}

@media (min-width: 768px) {
  .desktopBreak {
    display: inline;
  }

  .container {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-gap: 2rem;
    max-width: 90rem;
  }

  .header {
    align-items: center;
  }

  .description {
    margin: -0.3rem 0;
    font-size: 1.1rem;
    line-height: 1.4;
  }

  .backToHome {
    grid-column: 2;
  }
}

@media(min-width: 1200px) {
  .container {
    margin-left: calc(1rem + (100vw - 1200px) * 0.7);
  }
}
