.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingXl {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingLg {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
}

.headingSm {
  font-size: 1.0rem;
  line-height: 1.6;
  margin: 0.25rem 0;
}

.borderCircle {
  border-radius: 9999px;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 1.25rem;
}

.lightText {
  color: #666;
}

.noteHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.postHeader {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

.postTitle,
.cardTitle {
  font-size:1.25rem;
  line-height: 1.3;
  font-weight: 600;
  color: inherit;
  margin: 0;
}

.postMeta {
  font-size: 0.875rem;
  color: #666;
  margin-top: 0.25rem;

  white-space: nowrap;
  flex-shrink: 0;
}

.postExcerpt {
  margin-top: 1rem;
  font-size: 0.9rem;
  color: #333;
  line-height: 1.5;
}

@media (min-width: 768px) {
  .postHeader {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }

  .postMeta {
    margin-top: 0;
  }
}
